body{
    background-color: rgba(104, 194, 216, 0.61);
}
table{
    width: 800px;
    

    border-collapse: collapse; 

    font-size: 20px;
    font-family: sans-serif;
}

td{
    padding: 20px 30px;
}

img{
    width: 20px;
    height: 20px;
}

span{
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    font-size: 20px;
}

thead{
    background-color: rgb(68, 68, 235);
    color: white;

    text-align: center;
}

tbody{
    text-align: center;
}


tbody tr td:nth-child(5n+1){
    width: 300px;
    background-color: green;
    color: aliceblue;
    font-weight: bold;
}

 tbody tr:nth-child(2n) td:first-child{
    width: 300px;

    background-color: rgb(92, 180, 92);
    color: aliceblue;
    font-weight: bold;
} 

tbody tr:nth-child(2n){
    background-color: rgb(193, 196, 193);
    color: rgb(100, 92, 92);
    font-size: 16px;

  
}
tbody tr:nth-child(2n+1){
    background-color: rgb(255, 255, 255);
    font-weight: lighter;
    color: rgb(100, 92, 92);
    font-size: 16px;

  
}

button{
    width: 120px;
    background-color: blue;
    border: none;
    color: white;

    padding: 10px 20px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
}

button:hover{
    cursor: pointer;
}




thead tr:first-child td{
    font-weight: bolder;
}

thead  tr:nth-child(2) td{
    font-weight: bolder;

}

thead tr:nth-child(3) td{
    padding: 0px;
    font-size: smaller
}

thead tr:last-child td{
    padding: 5px;
    font-size: 12px;
}

caption{
    margin-left: 450px;
    background-color: yellow;
    width: 170px;
    color: rgb(58, 58, 146);
    font-size: 13px;
    font-weight: bold;
    padding: 10px 0px;
}